// Style for icons in client-component
.align-contents{
    vertical-align: middle;
    display:inline-flex;
}
// Padding for every row in clients-component
.clientdetail{
    padding-top: 7px;
    padding-bottom: 7px;
}