<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
          {{client.MAC}}
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="clientdetail">
        <mat-icon aria-hidden="false" aria-label="Client first time seen to last time seen" class="align-contents">access_time</mat-icon>
        <strong>Anwesenheit: </strong>{{client.firstTimeSeen}} - {{client.lastTimeSeen}}
      </div>
    <mat-divider></mat-divider>  
    <div class="clientdetail">
        <mat-icon aria-hidden="false" aria-label="Client power" class="align-contents">signal_cellular_alt</mat-icon>
        <strong>Power:</strong> {{client.power}}
    </div>
    <mat-divider></mat-divider>
    <div class="clientdetail">
        <mat-icon aria-hidden="false" aria-label="Client packets detected" class="align-contents">email</mat-icon>
        <strong>Packets:</strong> {{client.packets}}
    </div>
    <mat-divider></mat-divider>
    <div class="clientdetail">
        <mat-icon aria-hidden="false" aria-label="Client BSSID" class="align-contents">router</mat-icon>
        <strong>BSSID:</strong> {{client.BSSID}}
    </div>
    <mat-divider></mat-divider>
    <div class="clientdetail">
        <mat-icon aria-hidden="false" aria-label="Client probes" class="align-contents">search</mat-icon>
        <strong>Probes:</strong> {{client.probes}}
    </div>
    <mat-divider></mat-divider>
    <div class="clientdetail">
        <mat-icon aria-hidden="false" aria-label="Client distance 2.4GHZ" class="align-contents">leak_add</mat-icon>
        <strong>Distance 2.4GHZ:</strong> {{client.distance24}} m
    </div>
    <mat-divider></mat-divider>
    <div class="clientdetail">
        <mat-icon aria-hidden="false" aria-label="Client distance 5GHZ" class="align-contents">leak_add</mat-icon>
        <strong>Distance 5 GHZ:</strong> {{client.distance5}} m
    </div>
</mat-expansion-panel>