.mat-grid-tile{
    border: black 1px;
    justify-content: flex-start !important;
}
.gridcontent{
    position:absolute;
    left: 5px;
    right: 5px;
    top: 5px;
    bottom: 5px;
    display: flex;
    flex-flow: column;
}
.diagramFigure{
    flex-grow: 1;
}

.replayBtn{
    margin-left: auto;
    order:2;
}