// Basic styles for grid-tile content
.gridcontent{
    position:absolute;
    left: 5px;
    right: 5px;
    top: 5px;
    bottom: 5px;
    display: flex;
    flex-flow: column;
}
// Basic style for diagram figure elements
.diagramFigure{
    padding-top:10px ;
    flex-grow: 1;
}
