// Padding for each row in the network component
.networkdetail{
    padding-top: 7px;
    padding-bottom: 7px;
}
// Style for material icons
.align-contents{
    vertical-align: middle;
    display:inline-flex;
}