wt-modal {
    /* Hide modals by default */
    display: none;

    .wt-modal {
        /* Fix container across the whole screen */
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        /* Set higher z-index than .wt-modal-background to ensure the container is in front of the dark background */
        z-index: 1000;
        
        /* Enable scrolling for tall modals */
        overflow: auto;

        .wt-modal-body {
            padding: 20px;
            background: #fff;
            /* Add margin to expose part of modal background */
            margin: 40px;
        }
    }

    .wt-modal-background {
        /* Fix modal background across the whole screen */
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        /* Semi-transparent black as background-color */
        background-color: #000;
        opacity: 0.75;
        
        /* Z-index must be below .wt-modal and above everything else  */
        z-index: 900;
    }
}

body.wt-modal-open {
    /* Set overflow to hidden to hide main scrollbar when modal is open */
    overflow: hidden;
}